.presentation-article
	.presentation-article__layout.section__layout
		.center.center__presentation-article
			.f-container.presentation-article__container
				.presentation-article__image-wrapper
					picture
						source(data-srcset="img/about-bg2.webp" type="image/webp")
						source(data-srcset="img/about-bg2.png" type="image/png")
						img.lazy(data-src="img/about-bg2.png" alt="Picture").presentation-article__image
				.presentation-article__content-wrapper
					.presentation-article__title-wrapper
						h2.presentation-article__title
							|About Our Quilts
					.presentation-article__text-wrapper
						p.presentation-article__text
							|Our Handmade Wall Quilts are made by hand from top quality materials. This makes every item purchased a one-of a-kind inside your home.
						p.presentation-article__text
							|We have provided pockets and sleeves in the back of each quilt to offer several hanging options to suit the different rooms at home and the different walls which will support them.
						p.presentation-article__text
							|Each quilt is approximately 47 X 33 inches Our Handmade Wall Quilts are made by hand from top quality materials. This makes every item purchased a one-of a-kind inside your home.
						p.presentation-article__text
							|We have provided pockets and sleeves in the back of each quilt to offer several hanging options to suit the different rooms at home and the different walls which will support
			.f-container
				.presentation-article__text-wrapper
						p.presentation-article__text
							|Our Handmade Wall Quilts are made by hand from top quality materials. This makes every item purchased a one-of a-kind inside your home.
						p.presentation-article__text
							|We have provided pockets and sleeves in the back of each quilt to offer several hanging options to suit the different rooms at home and the different walls which will support them.
						p.presentation-article__text
							|Each quilt is approximately 47 X 33 inches Our Handmade Wall Quilts are made by hand from top quality materials. This makes every item purchased a one-of a-kind inside your home.
						p.presentation-article__text
							|We have provided pockets and sleeves in the back of each quilt to offer several hanging options to suit the different rooms at home and the different walls which will support
