.about
	.about__layout.section__layout
		.center
			.f-container
				article.about__article-left
					.h2-title__layer
						h2.h2-title
							|About Our Quilts
				article.about__article-right
					.h2-title__layer
						h2.h2-title
							|100% Handmade