.about
	.about__layout.section__layout
		.floating-image-layer.floating-image-layer-2
			picture
				source(data-srcset="img/olive2.webp" type="image/webp")
				source(data-srcset="img/olive2.png" type="image/png")
				img.floating-image.lazy(data-src="img/olive2.png" alt="Olive tree branch")
		.center.center__about
			.f-container.f-container__about
				article.about__article-left.about__article
					.about__text-group
						.h2-title__layer
							h2.h2-title
								|About Our Quilts
						.about-text__layer
							p.about__text
								|Our Handmade Wall Quilts are made by hand from top quality materials. This makes every item purchased a one-of a-kind inside your home.
						.about-text__layer
							p.about__text
								|We have provided pockets and sleeves in the back of each quilt
								|to offer several hanging options to suit the different rooms
								|at home and the different walls which will support them.
						.about-text__layer
							p.about__text
								|Each quilt is approximately 47 X 33 inches
					.splide.about__image-slider
						.splide__track
							.about__image-group.splide__list
								.about__image-layer.splide__slide
									picture
										source(data-splide-lazy-srcset="img/about-bg1.webp" type="image/webp")
										source(data-splide-lazy-srcset="img/about-bg1.png" type="image/png")
										img.about__image(data-splide-lazy="img/about-bg1.png" alt="Picture")
								.about__image-layer.splide__slide
									picture
										source(data-splide-lazy-srcset="img/about-bg2.webp" type="image/webp")
										source(data-splide-lazy-srcset="img/about-bg2.png" type="image/png")
										img.about__image(data-splide-lazy="img/about-bg2.png" alt="Picture")
								.about__image-layer.splide__slide
									picture
										source(data-splide-lazy-srcset="img/about-bg1.webp" type="image/webp")
										source(data-splide-lazy-srcset="img/about-bg1.png" type="image/png")
										img.about__image(data-splide-lazy="img/about-bg1.png" alt="Picture")
								.about__image-layer.splide__slide
									picture
										source(data-splide-lazy-srcset="img/about-bg2.webp" type="image/webp")
										source(data-splide-lazy-srcset="img/about-bg2.png" type="image/png")
										img.about__image(data-splide-lazy="img/about-bg2.png" alt="Picture")
				article.about__article-right.about__article
					.splide.about__image-slider
						.splide__track
							.about__image-group.splide__list
								.about__image-layer.splide__slide
									picture
										source(data-splide-lazy-srcset="img/about-bg2.webp" type="image/webp")
										source(data-splide-lazy-srcset="img/about-bg2.png" type="image/png")
										img.about__image(data-splide-lazy="img/about-bg2.png" alt="Picture")
								.about__image-layer.splide__slide
									picture
										source(data-splide-lazy-srcset="img/about-bg1.webp" type="image/webp")
										source(data-splide-lazy-srcset="img/about-bg1.png" type="image/png")
										img.about__image(data-splide-lazy="img/about-bg1.png" alt="Picture")
								.about__image-layer.splide__slide
									picture
										source(data-splide-lazy-srcset="img/about-bg2.webp" type="image/webp")
										source(data-splide-lazy-srcset="img/about-bg2.png" type="image/png")
										img.about__image(data-splide-lazy="img/about-bg2.png" alt="Picture")
								.about__image-layer.splide__slide
									picture
										source(data-splide-lazy-srcset="img/about-bg1.webp" type="image/webp")
										source(data-splide-lazy-srcset="img/about-bg1.png" type="image/png")
										img.about__image(data-splide-lazy="img/about-bg1.png" alt="Picture")
					.about__text-group
						.h2-title__layer
							h2.h2-title
								|100% Handmade
						.about-text__layer
							p.about__text
								|The physical setting of so many biblical events. Where God placed
								|	his people. Where he chose to communicate to this world through his prophets. Where our Patriarchs and Matriarchs traveled with their Flocks. Events that changed history and mankind captured in these quilts. 
								|	The biblical reference joining that image and elevating art into
								|	meaning for you, your family and anyone who enters your home.
								|	Opening your door to the biblical story and welcoming it into your
								|	every day lives. Bringing the Holy Land into your house and your
								|	house into the Holy Land’s narrative.
						.about__button-layer
							a.about__button.main-btn(href="#")
								span.btn-overlay
								span.btn-text
									|Visit Blog
					
