.address
	.address__layout
		.address__info-layer
			.address__bg-layer
				picture
					source(srcset="img/contacts.webp" type="image/webp")
					source(srcset="img/contacts.png" type="image/png")
					img.address__bg(src="img/contacts.png" alt="Background")
			.address__street-layer
				p.address__street
					|Mevaseret Zion
				p.address__street
					|ISRAEL 90805
			.address__mail-layer
				a.address__mail(href="mailto:info@promisesofglory.com" rel="nofollow")
					|info@promisesofglory.com
			.address__social-layer.social-icons
				a.facebook-link.social-link(href="https://facebook.com" target="_blank" rel="noopener noreffer nofollow")
					span.address__ico
						i.ico.s-facebook
				a.instagram-link.social-link(href="https://instagram.com" target="_blank" rel="noopener noreffer nofollow")
					span.address__ico
						i.ico.s-instagram
		.address__map-layer
			.address__map
				iframe#gmap_canvas(width='100%' height='100%' src='https://maps.google.com/maps?q=university%20of%20san%20francisco&t=&z=13&ie=UTF8&iwloc=&output=embed' frameborder='0' scrolling='no' marginheight='0' marginwidth='0')