.cart
	.cart__layout
		.cart__wrapper
			.cart__layer
				.cart__title-wrapper
					h3.cart__title
						|Your Cart
				.cart__list-wrapper
					ul.cart__list
						li.cart__list-item.active
							p.cart__step
								|1.
						li.cart__list-item
							span.cart__step-line
							p.cart__step
								|2.
						li.cart__list-item
							span.cart__step-line
							p.cart__step
								|3.
						li.cart__list-item
							span.cart__step-line
							p.cart__step
								|4.
				.cart__content-title-wrapper
						h3.cart__content-title
							|First Step
				.cart__content-wrapper
					.cart__content-layer__first.cart__content-layer.active
						//- .cart__content-title-wrapper
						//- 	h3.cart__content-title
						//- 		|First Step
						.cart__content
							.cart__card-wrapper
								.cart__card
									.cart__card-close
									.cart__card-img-wrapper
										picture
											source(data-srcset="img/cart2.webp" type="image/webp")
											source(data-srcset="img/cart2.png" type="image/png")
											img.lazy(data-src="img/cart2.png" alt="Background")
									.cart__card-content-wrapper
										.cart__card-content
											.cart__card-text-wrapper
												h4.cart__card-name
													|Sea of galilee quilt
												.cart__card-price-wrapper
													p.cart__card-quantity
														|1
													span
														|x
													p.cart__card-price
														|$399
											.cart__card-total-price-wrapper
												p.cart__card-total-price-name
													|Total
												p.cart__card-total-price
													|$399
							.cart__card-wrapper
								.cart__card
									.cart__card-close
									.cart__card-img-wrapper
										picture
											source(data-srcset="img/cart2.webp" type="image/webp")
											source(data-srcset="img/cart2.png" type="image/png")
											img.lazy(data-src="img/cart2.png" alt="Background")
									.cart__card-content-wrapper
										.cart__card-content
											.cart__card-text-wrapper
												h4.cart__card-name
													|Sea of galilee quilt
												.cart__card-price-wrapper
													p.cart__card-quantity
														|1
													span
														|x
													p.cart__card-price
														|$399
											.cart__card-total-price-wrapper
												p.cart__card-total-price-name
													|Total
												p.cart__card-total-price
													|$399
							.cart__card-wrapper
								.cart__card
									.cart__card-close
									.cart__card-img-wrapper
										picture
											source(data-srcset="img/cart2.webp" type="image/webp")
											source(data-srcset="img/cart2.png" type="image/png")
											img.lazy(data-src="img/cart2.png" alt="Background")
									.cart__card-content-wrapper
										.cart__card-content
											.cart__card-text-wrapper
												h4.cart__card-name
													|Sea of galilee quilt
												.cart__card-price-wrapper
													p.cart__card-quantity
														|1
													span
														|x
													p.cart__card-price
														|$399
											.cart__card-total-price-wrapper
												p.cart__card-total-price-name
													|Total
												p.cart__card-total-price
													|$399
					.cart__content-layer__second.cart__content-layer
						//- .cart__content-title-wrapper
						//- 	h3.cart__content-title
						//- 		|Second Step
						.cart__content
							.cart__card-wrapper
								.cart__card
									.cart__card-close
									.cart__card-img-wrapper
										picture
											source(data-srcset="img/cart2.webp" type="image/webp")
											source(data-srcset="img/cart2.png" type="image/png")
											img.lazy(data-src="img/cart2.png" alt="Background")
									.cart__card-content-wrapper
										.cart__card-content
											.cart__card-text-wrapper
												h4.cart__card-name
													|Sea of galilee quilt
												.cart__card-price-wrapper
													p.cart__card-quantity
														|1
													span
														|x
													p.cart__card-price
														|$399
											.cart__card-total-price-wrapper
												p.cart__card-total-price-name
													|Total
												p.cart__card-total-price
													|$399
							.cart__card-wrapper
								.cart__card
									.cart__card-close
									.cart__card-img-wrapper
										picture
											source(data-srcset="img/cart2.webp" type="image/webp")
											source(data-srcset="img/cart2.png" type="image/png")
											img.lazy(data-src="img/cart2.png" alt="Background")
									.cart__card-content-wrapper
										.cart__card-content
											.cart__card-text-wrapper
												h4.cart__card-name
													|Sea of galilee quilt
												.cart__card-price-wrapper
													p.cart__card-quantity
														|1
													span
														|x
													p.cart__card-price
														|$399
											.cart__card-total-price-wrapper
												p.cart__card-total-price-name
													|Total
												p.cart__card-total-price
													|$399
					.cart__content-layer__third.cart__content-layer
						//- .cart__content-title-wrapper
						//- 	h3.cart__content-title
						//- 		|Third Step
						.cart__content
							.cart__card-wrapper
								.cart__card
									.cart__card-close
									.cart__card-img-wrapper
										picture
											source(data-srcset="img/cart2.webp" type="image/webp")
											source(data-srcset="img/cart2.png" type="image/png")
											img.lazy(data-src="img/cart2.png" alt="Background")
									.cart__card-content-wrapper
										.cart__card-content
											.cart__card-text-wrapper
												h4.cart__card-name
													|Sea of galilee quilt
												.cart__card-price-wrapper
													p.cart__card-quantity
														|1
													span
														|x
													p.cart__card-price
														|$399
											.cart__card-total-price-wrapper
												p.cart__card-total-price-name
													|Total
												p.cart__card-total-price
													|$399
							.cart__card-wrapper
								.cart__card
									.cart__card-close
									.cart__card-img-wrapper
										picture
											source(data-srcset="img/cart2.webp" type="image/webp")
											source(data-srcset="img/cart2.png" type="image/png")
											img.lazy(data-src="img/cart2.png" alt="Background")
									.cart__card-content-wrapper
										.cart__card-content
											.cart__card-text-wrapper
												h4.cart__card-name
													|Sea of galilee quilt
												.cart__card-price-wrapper
													p.cart__card-quantity
														|1
													span
														|x
													p.cart__card-price
														|$399
											.cart__card-total-price-wrapper
												p.cart__card-total-price-name
													|Total
												p.cart__card-total-price
													|$399
					.cart__content-layer__fourth.cart__content-layer
						//- .cart__content-title-wrapper
						//- 	h3.cart__content-title
						//- 		|Fourth Step
						.cart__content
							.cart__card-wrapper
								.cart__card
									.cart__card-close
									.cart__card-img-wrapper
										picture
											source(data-srcset="img/cart2.webp" type="image/webp")
											source(data-srcset="img/cart2.png" type="image/png")
											img.lazy(data-src="img/cart2.png" alt="Background")
									.cart__card-content-wrapper
										.cart__card-content
											.cart__card-text-wrapper
												h4.cart__card-name
													|Sea of galilee quilt
												.cart__card-price-wrapper
													p.cart__card-quantity
														|1
													span
														|x
													p.cart__card-price
														|$399
											.cart__card-total-price-wrapper
												p.cart__card-total-price-name
													|Total
												p.cart__card-total-price
													|$399
							.cart__card-wrapper
								.cart__card
									.cart__card-close
									.cart__card-img-wrapper
										picture
											source(data-srcset="img/cart2.webp" type="image/webp")
											source(data-srcset="img/cart2.png" type="image/png")
											img.lazy(data-src="img/cart2.png" alt="Background")
									.cart__card-content-wrapper
										.cart__card-content
											.cart__card-text-wrapper
												h4.cart__card-name
													|Sea of galilee quilt
												.cart__card-price-wrapper
													p.cart__card-quantity
														|1
													span
														|x
													p.cart__card-price
														|$399
											.cart__card-total-price-wrapper
												p.cart__card-total-price-name
													|Total
												p.cart__card-total-price
													|$399
				.cart__summary-wrapper
					.cart__summary-subtotal-wrapper
						h3.cart__summary-subtotal
							|Subtotal:	 
							span
								|$798
					.cart__summary-btn-wrapper
						button.cart__button.main-btn
							span.btn-overlay
							span.btn-text
								|Next Step
				.cart__close.close-popup
		.cart__overlay
