.feedback
	.feedback__layout.section__layout
		.floating-image-layer.floating-image-layer-3
			picture
				source(srcset="img/olive3.webp" type="image/webp")
				source(srcset="img/olive3.png" type="image/png")
				img.floating-image(src="img/olive3.png" alt="Olive tree branch")
		.center
			.f-container
				.h2-title__layer.h2-title__layer-feedback
					h2.h2-title
						|Customer Review
		.center
			.f-container
				.splide.feedback__slider
					.splide__arrows.feedback__arrows
						button.splide__arrow.splide__arrow--prev.feedback__arrow_prev
							i.ico.s-arrow-black-left
						button.splide__arrow.splide__arrow--next.feedback__arrow_next
							i.ico.s-arrow-black-right
						.splide__track
							.feedback__group.splide__list
								.feedback__layer.splide__slide
									.feedback__inner
										.feedback__text-layer
											i.ico.s-quotes
											span.triangle
											p.feedback__text
												|No one can visit Israel without a deeper appreciation and a stronger
												|faith in the Bible. Both the Bible and the Land have been preserved as physical evidences that "He endureth forever."
										figure.feedback__image-layer
											picture
												source(data-splide-lazy-srcset="img/feedback.webp" type="image/webp")
												source(data-splide-lazy-srcset="img/feedback.png" type="image/png")
												img.feedback__image(data-splide-lazy="img/feedback.png" alt="A man")
											figcaption.feedback__image-name
												|Billy Graham
								.feedback__layer.splide__slide
									.feedback__inner
										.feedback__text-layer
											i.ico.s-quotes
											span.triangle
											p.feedback__text
												|No one can visit Israel without a deeper appreciation and a stronger
												|faith in the Bible. Both the Bible and the Land have been preserved as physical evidences that "He endureth forever."
										figure.feedback__image-layer
											picture
												source(data-splide-lazy-srcset="img/feedback.webp" type="image/webp")
												source(data-splide-lazy-srcset="img/feedback.png" type="image/png")
												img.feedback__image(data-splide-lazy="img/feedback.png" alt="A man")
											figcaption.feedback__image-name
												|Billy Graham
								.feedback__layer.splide__slide
									.feedback__inner
										.feedback__text-layer
											i.ico.s-quotes
											span.triangle
											p.feedback__text
												|No one can visit Israel without a deeper appreciation and a stronger
												|faith in the Bible. Both the Bible and the Land have been preserved as physical evidences that "He endureth forever."
												|faith in the Bible. Both the Bible and the Land have been preserved as physical evidences that "He endureth forever."
												|faith in the Bible. Both the Bible and the Land have been preserved as physical evidences that "He endureth forever."
												|faith in the Bible. Both the Bible and the Land have been preserved as physical evidences that "He endureth forever."
												|faith in the Bible. Both the Bible and the Land have been preserved as physical evidences that "He endureth forever."
												|faith in the Bible. Both the Bible and the Land have been preserved as physical evidences that "He endureth forever."
												|faith in the Bible. Both the Bible and the Land have been preserved as physical evidences that "He endureth forever."
												|faith in the Bible. Both the Bible and the Land have been preserved as physical evidences that "He endureth forever."
												|faith in the Bible. Both the Bible and the Land have been preserved as physical evidences that "He endureth forever."
												|faith in the Bible. Both the Bible and the Land have been preserved as physical evidences that "He endureth forever."
										figure.feedback__image-layer
											picture
												source(data-splide-lazy-srcset="img/feedback.webp" type="image/webp")
												source(data-splide-lazy-srcset="img/feedback.png" type="image/png")
												img.feedback__image(data-splide-lazy="img/feedback.png" alt="A man")
											figcaption.feedback__image-name
												|Billy Graham
								.feedback__layer.splide__slide
									.feedback__inner
										.feedback__text-layer
											i.ico.s-quotes
											span.triangle
											p.feedback__text
												|No one can visit Israel without a deeper appreciation and a stronger
												|faith in the Bible. Both the Bible and the Land have been preserved as physical evidences that "He endureth forever."
										figure.feedback__image-layer
											picture
												source(data-splide-lazy-srcset="img/feedback.webp" type="image/webp")
												source(data-splide-lazy-srcset="img/feedback.png" type="image/png")
												img.feedback__image(data-splide-lazy="img/feedback.png" alt="A man")
											figcaption.feedback__image-name
												|Billy Graham