.form
	.form__layout
		.center
			.f-container
				.form__inner
					.h2-title__layer.h2-title__layer-form
						h2.h2-title.form__h2-title
							|Got
							span
								span
									|question
								span
									|?
					.form__fields
						form
							.form__group
								.form__field
									input(type="text" placeholder="Your question" required name="question")
								.form__field
									input(type="email" placeholder="Your email" required name="email")
								.form__field
									.form__button-layer
										button.form__button.main-btn.reverse
											span.btn-overlay
											span.btn-text
												|Send