header.header
	include ./menu
	.header__layout
		.splide.header__slider
			.splide__arrows.header__arrows
				button.splide__arrow.splide__arrow--prev.header__arrow_prev
					i.ico.s-arrow-left
				button.splide__arrow.splide__arrow--next.header__arrow_next
					i.ico.s-arrow-right
			.splide__track.header__slider-track
				.splide__list.header__slider-list
					.splide__slide.header__slider-slide
						picture
							source(data-splide-lazy-srcset="img/header-bg.webp" type="image/webp")
							source(data-splide-lazy-srcset="img/header-bg.png" type="image/png")
							img.header__slider-background(data-splide-lazy="img/header-bg.png" alt="Slide")
						.center
							.f-container
								.slide-title-layer
									h2.slide-title
										|Immerse yourself
										span
											|with images from Land
								.slide-description-layer
									p.slide-description
										|Give your walls a voice -
										|a reminder, a glorious message!
								.slide-button-layer
									a.slide-button.main-btn(href="#")
										span.btn-overlay
										span.btn-text
											|SHOP NOW
					.splide__slide.header__slider-slide
						picture
							source(data-splide-lazy-srcset="img/header-bg.webp" type="image/webp")
							source(data-splide-lazy-srcset="img/header-bg.png" type="image/png")
							img.header__slider-background(data-splide-lazy="img/header-bg.png" alt="Slide")
						.center
							.f-container
								.slide-title-layer
									h2.slide-title
										|Immerse yourself
										span
											|with images from Land
								.slide-description-layer
									p.slide-description
										|Give your walls a voice -
										|a reminder, a glorious message!
								.slide-button-layer
									a.slide-button.main-btn(href="#")
										span.btn-overlay
										span.btn-text
											|SHOP NOW
					.splide__slide.header__slider-slide
						picture
							source(data-splide-lazy-srcset="img/header-bg.webp" type="image/webp")
							source(data-splide-lazy-srcset="img/header-bg.png" type="image/png")
							img.header__slider-background(data-splide-lazy="img/header-bg.png" alt="Slide")
						.center
							.f-container
								.slide-title-layer
									h2.slide-title
										|Immerse yourself
										span
											|with images from Land
								.slide-description-layer
									p.slide-description
										|Give your walls a voice -
										|a reminder, a glorious message!
								.slide-button-layer
									a.slide-button.main-btn(href="#")
										span.btn-overlay
										span.btn-text
											|SHOP NOW