header.header
	include ./menu
	.header__layout
		.splide.header__slider
			.splide__track.header__slider-track
				.splide__list.header__slider-list
					.splide__slide.header__slider-slide
						img(src="img/header-bg.png" alt="Slide")
						.center
							.f-container
								|Slide 01
					.splide__slide.header__slider-slide
						img(src="img/header-bg.png" alt="Slide")
						.center
							.f-container
					.splide__slide.header__slider-slide
						img(src="img/header-bg.png" alt="Slide")
						.center
							.f-container
								.slide-title-layer
									h2.slide-title
										|Immerse yourself
										span
											|with images from Land
								.slide-description-layer
									p.slide-description
										|Give your walls a voice -
										|a reminder, a glorious message!
								.slide-button-layer
									a.slide-button(href="#")
										span
											|Shop Now