-
	var menu = [
		{
			text: 'ABOUT', 
			url: '#', 
		},
		{
			text: 'SHOP', 
			url: '#', 
		},
		{
			text: 'BLOG', 
			url: '#',
		},
		{
			text: 'CONTACT US', 
			url: '#',
		},
	];


.menu
	.menu__layout
		.center
			.f-container
				nav.menu__navigation
					+menu(menu, 'menu')
				.menu__logo
					img.logo(src="" alt="Logo")
				.menu__icons
					a(href="#")
						//- span.menu__ico
						//- 	i.ico.s-shopping-bag
						//- span.menu__price
						//- 	|$ 300.00
					a(href="https://facebook.com" target="_blank" rel="noopener noreffer nofollow")
						span.menu__ico
							i.ico.s-facebook
					a(href="https://facebook.com" target="_blank" rel="noopener noreffer nofollow")
						span.menu__ico
							i.ico.s-instagram