-
	var menu = [
		{
			text: 'ABOUT', 
			url: '#', 
		},
		{
			text: 'SHOP', 
			url: '#', 
		},
		{
			text: 'BLOG', 
			url: '#',
		},
		{
			text: 'CONTACT US', 
			url: '#',
		},
	];


.menu
	.menu__layout
		.center
			.f-container
				nav.menu__navigation
					.menu__btn
						.menu__btn-burger
					+menu(menu, 'menu')
				.menu__logo
					a.menu__logo-link(href="#")
						i.logo.ico
							+svg2('logo-big')
						//- img.logo(src="img/logo-big.svg" alt="Logo")
						i.logo-fixed
							+svg2('logo-little')
						//- img.logo-fixed(src="img/logo-little.svg" alt="Logo")
				.menu__icons
					a.shopping-bag-link(href="#")
						span.menu__ico
							i.ico.s-shopping-bag
						span.menu__price
							|$300.00
					.social-icons
						a.facebook-link.social-link(href="https://facebook.com" target="_blank" rel="noopener noreffer nofollow")
							span.menu__ico
								i.ico.s-facebook
						a.instagram-link.social-link(href="https://instagram.com" target="_blank" rel="noopener noreffer nofollow")
							span.menu__ico
								i.ico.s-instagram