.posts
	.posts__layout.section__layout
		.center
			.f-container
				.posts__layer
					.post
						img
						.h2-title__layer
							h2.h2-title
								|Our Story
					.post
						img
						.h2-title__layer
							h2.h2-title
								|Our Process
					.post
						img
						.h2-title__layer
							h2.h2-title
								|Bringing Glory Home
					.post
						img
						.h2-title__layer
							h2.h2-title
								|Our gallery