.video
	.video__layout
		.video__background(data-youtube="1UUYjd2rjsE")
			img.video__background-image(src="img/video-bg.png" alt="Background")
		.center.center__video
			.f-container
				.video__layer
					.video__text-layer
						p.video__text
							span
								|Promises Of Glory
							|- Process video
					.video__play-button-layer
						img.video__play-button(src="img/play-btn.png" alt="Play Button")
							//- +svg2('play-btn')