.presentation
	.presentation__layout
		.center.center__presentation
			.f-container
				section.presentation__section
					article.presentation__article
						.presentation__sliders-group
							.splide.presentation__image-slider
								.splide__track
									.presentation__image-group.splide__list
										.presentation__image-layer.splide__slide
											img.presentation__image(src="img/article1.png" alt="Picture")
										.presentation__image-layer.splide__slide
											img.presentation__image(src="img/article2.png" alt="Picture")
										.presentation__image-layer.splide__slide
											img.presentation__image(src="img/article3.png" alt="Picture")
										.presentation__image-layer.splide__slide
											img.presentation__image(src="img/article4.png" alt="Picture")
							.splide#presentation__thumbnails-image-slider.presentation__thumbnails-image-slider
									.splide__track
										.presentation__thumbnails-image-group.splide__list
											.presentation__thumbnails-image-layer.splide__slide
												img.presentation__thumbnails-image(src="img/article1.png" alt="Picture")
											.presentation__thumbnails-image-layer.splide__slide
												img.presentation__thumbnails-image(src="img/article2.png" alt="Picture")
											.presentation__thumbnails-image-layer.splide__slide
												img.presentation__thumbnails-image(src="img/article3.png" alt="Picture")
											.presentation__thumbnails-image-layer.splide__slide
												img.presentation__thumbnails-image(src="img/article4.png" alt="Picture")
						.presentation__text-group
							.h2-title__layer
								h2.h2-title
									|100% Handmade
							.presentation-text__layer
								p.presentation__text
									|The physical setting of so many biblical events. Where God placed
									|	his people. Where he chose to communicate to this world through his prophets. Where our Patriarchs and Matriarchs traveled with their Flocks. Events that changed history and mankind captured in these quilts. 
									|	The biblical reference joining that image and elevating art into
									|	meaning for you, your family and anyone who enters your home.
									|	Opening your door to the biblical story and welcoming it into your
									|	every day lives. Bringing the Holy Land into your house and your
									|	house into the Holy Land’s narrative.
							.presentation__button-layer
								a.presentation__button.main-btn(href="#")
									span.btn-overlay
									span.btn-text
										|Visit Blog