.presentation
	.presentation__layout.section__layout
		.center.center__presentation
			.f-container
				section.presentation__section
					article.presentation__article
						.presentation__sliders-group
							.splide.presentation__image-slider
								.splide__track
									.presentation__image-group.splide__list
										.presentation__image-layer.splide__slide
											.presentation__image-wrapper
												picture
													source(data-splide-lazy-srcset="img/article1.webp" type="image/webp")
													source(data-splide-lazy-srcset="img/article1.png" type="image/png")
													img(data-splide-lazy="img/article1.png" alt="Picture").presentation__image
											.presentation-text
												.presentation__title-layer
													h3.presentation__title
														|Ein Gedi 1
												.presentation__price-layer
													span.presentation__price
														|$399
												.presentation__description-layer
													p.presentation__description
														|The desert oasis nestled in the Judaen Wilderness. 
														|Site of some significant Old Testament events and
														|New Testament parables.
														|"If anyone is thirsty, let him come to Me and drink"
														|(John 7:37)
													p.presentation__description
														|"If anyone is thirsty, let him come to Me and drink"
														|(John 7:37)
												.presentation__button-layer
													a.presentation__button.main-btn(href="#")
														span.btn-overlay
														span.btn-text
															|Add to cart
										.presentation__image-layer.splide__slide
											.presentation__image-wrapper
												picture
													source(data-splide-lazy-srcset="img/article2.webp" type="image/webp")
													source(data-splide-lazy-srcset="img/article2.png" type="image/png")
													img(data-splide-lazy="img/article2.png" alt="Picture").presentation__image
											.presentation-text
												.presentation__title-layer
													h3.presentation__title
														|Ein Gedi 2
												.presentation__price-layer
													span.presentation__price
														|$399
												.presentation__description-layer
													p.presentation__description
														|The desert oasis nestled in the Judaen Wilderness. 
														|Site of some significant Old Testament events and
														|New Testament parables.
														|"If anyone is thirsty, let him come to Me and drink"
														|(John 7:37)
													p.presentation__description
														|"If anyone is thirsty, let him come to Me and drink"
														|(John 7:37)
												.presentation__button-layer
													a.presentation__button.main-btn(href="#")
														span.btn-overlay
														span.btn-text
															|Add to cart
										.presentation__image-layer.splide__slide
											.presentation__image-wrapper
												picture
													source(data-splide-lazy-srcset="img/article3.webp" type="image/webp")
													source(data-splide-lazy-srcset="img/article3.png" type="image/png")
													img(data-splide-lazy="img/article3.png" alt="Picture").presentation__image
											.presentation-text
												.presentation__title-layer
													h3.presentation__title
														|Ein Gedi 3
												.presentation__price-layer
													span.presentation__price
														|$399
												.presentation__description-layer
													p.presentation__description
														|The desert oasis nestled in the Judaen Wilderness. 
														|Site of some significant Old Testament events and
														|New Testament parables.
														|"If anyone is thirsty, let him come to Me and drink"
														|(John 7:37)
													p.presentation__description
														|"If anyone is thirsty, let him come to Me and drink"
														|(John 7:37)
												.presentation__button-layer
													a.presentation__button.main-btn(href="#")
														span.btn-overlay
														span.btn-text
															|Add to cart
										.presentation__image-layer.splide__slide
											.presentation__image-wrapper
												picture
													source(data-splide-lazy-srcset="img/article4.webp" type="image/webp")
													source(data-splide-lazy-srcset="img/article4.png" type="image/png")
													img(data-splide-lazy="img/article4.png" alt="Picture").presentation__image
											.presentation-text
												.presentation__title-layer
													h3.presentation__title
														|Ein Gedi 4
												.presentation__price-layer
													span.presentation__price
														|$399
												.presentation__description-layer
													p.presentation__description
														|The desert oasis nestled in the Judaen Wilderness. 
														|Site of some significant Old Testament events and
														|New Testament parables.
														|"If anyone is thirsty, let him come to Me and drink"
														|(John 7:37)
													p.presentation__description
														|"If anyone is thirsty, let him come to Me and drink"
														|(John 7:37)
												.presentation__button-layer
													a.presentation__button.main-btn(href="#")
														span.btn-overlay
														span.btn-text
															|Add to cart
							.splide#presentation__thumbnails-image-slider.presentation__thumbnails-image-slider
									.splide__track
										.presentation__thumbnails-image-group.splide__list
											.presentation__thumbnails-image-layer.splide__slide
												picture
													source(data-splide-lazy-srcset="img/article1.webp" type="image/webp")
													source(data-splide-lazy-srcset="img/article1.png" type="image/png")
													img(data-splide-lazy="img/article1.png" alt="Picture").presentation__thumbnails-image
											.presentation__thumbnails-image-layer.splide__slide
												picture
													source(data-splide-lazy-srcset="img/article2.webp" type="image/webp")
													source(data-splide-lazy-srcset="img/article2.png" type="image/png")
													img(data-splide-lazy="img/article2.png" alt="Picture").presentation__thumbnails-image
											.presentation__thumbnails-image-layer.splide__slide
												picture
													source(data-splide-lazy-srcset="img/article3.webp" type="image/webp")
													source(data-splide-lazy-srcset="img/article3.png" type="image/png")
													img(data-splide-lazy="img/article3.png" alt="Picture").presentation__thumbnails-image
											.presentation__thumbnails-image-layer.splide__slide
												picture
													source(data-splide-lazy-srcset="img/article4.webp" type="image/webp")
													source(data-splide-lazy-srcset="img/article4.png" type="image/png")
													img(data-splide-lazy="img/article4.png" alt="Picture").presentation__thumbnails-image