.f-container__cards {
	margin: 0 -12px;
}

.cards__layout {
	position: relative;
}

.card {
	padding: 0 24px/2;
	// opacity: 0;
	height: 100%;
	.fPa(0%, 55%, 0px, 55px, 992px,  1200px);
	&.fadeIn {
		animation: fadeIn 0.75s linear forwards;
	}
}

.cards__layer {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: stretch;
}

.card__inner {
	max-width: 380px;
	box-shadow: rgba(0,0,0,.1) 1px 2px 4px 1px;
	padding: 35px 40px;
	// height: 100%;
	transition: box-shadow .25s linear, transform .25s cubic-bezier(.75,.1,.25,.9);

	&:hover {
		transform: translateY(-1.5%) scale(1.01);
		box-shadow: 0px 8px 25px 0px rgba(0,0,0,0.25);
	}
}

.card__image {
	margin: 0 auto;
}

.card__title-layer, .card__description-layer, .card__price-layer {
	text-align: center;
}

.card__title-layer {
	margin-bottom: 12px;
}

.card__description-layer { 
	margin-bottom: 30px; 
}

.card__price-layer {
	position: relative;

	&:before, &:after {
		content: '';
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 40/300 * 100%;
		height: 1px;
		background: @font-color;
	}

	&:before {
		left: 53/300 * 100%;
	}

	&:after {
		right: 53/300 * 100%;
	}
}

.card__title {
	.fSize(20vw, 20px * (992/1200), 20px, 992px, 1200px);
	font-weight: 700;
	text-transform: uppercase;
}

.card__description {
	font-size: 16/15 * 1rem;
	font-weight: 500;
	font-style: italic;
}

.card__price {
	display: block;
	.fSize(24vw, 24px * (768/1200), 24px, 768px, 1200px);
	font-weight: 700;
}

.cards__button-layer {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card__image-layer {
	width: 100%;
	height: 100%;
	max-width: 300px;
	max-height: 300px;
	position: relative;
	margin-bottom: 30px;

	&:before {
		content: '';
		display: block;
		padding-top: 100%;
	}
}

.card__image {
	width: 100%;
	object-fit: cover;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}


@keyframes fadeIn {
	from {
		opacity: 0;
	} to {
		opacity: 1;
	}
}