.header__layout {
	height: calc(100vh - 34px);
	background: @font-color;

	.f-container {
		justify-content: space-between;
	}
}

.header__slider, .header__slider-track {
	height: 100%;
}

.header__slider-list {
	width: 100%;
	height: 100%;
}


.header__slider-slide {
	.center, .f-container {
		height: 100%;
	}
}