@import url("app/less/_var.less");
@import url("app/less/_mixins.less");
@import url("app/less/_fonts.less");
@import url("app/less/_init-sprites.less");

html {
  font-size: 15px;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  color: @font-color;
  height: 100%;
  width: 100%;
 
}

::selection {
  background: rgba(@secondary);
  color: @white;
}
body {
  margin: 0;
  padding: 0;
  // font-family: 'Dancing Script', cursive;
  font-family: 'Geometria', sans-serif;
  font-size: 15px;
  font-weight: normal;
  color: @font-color;
  // letter-spacing: 1.15px;
  letter-spacing: 0.01rem;
  line-height: 1.15;
  background-color: @white;

}





div,
a {
  outline: none;
  color: @font-color;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

img, picture, source{
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

h2 {
  overflow-wrap: break-word;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  padding: 0;
  margin: 0;
  display: block;
  color: @white;
  cursor: pointer;
  font-weight: normal;
}

input, select {
  width: 100%;
  outline: none;
  border: none;
  text-align: center;
}


label {
  margin-bottom: 0;
  font-size: 12px;
  font-weight:400;
}

button {
  cursor: pointer;
}



main {
  width: 100%;
}
.center {
  max-width: 1200px + 30px + 30px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

.f-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}


.ico {
  display: block;
  // max-width: 100%;
  // max-height: 100%;
}


//|||||||||||||||||||COMMON ELEMENTS|||||||||||||||||||//

.main-btn {
  font-family: Geometria, sans-serif;
  font-weight: 500;
  background: @font-color;
  width: 100%;
  font-size: (14px/15px) * 1rem;
  line-height: 1;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: @white;
  max-width: 200px;
  outline: none;
  border: 2px solid @secondary;
  overflow: hidden;
  cursor: pointer;
  letter-spacing: 0.1px;
  position: relative;
  .btn-overlay {
    position: absolute;
    width: 300px;
    height: 300px;
    left: 50%;
    top: 50%;
    z-index:2;
    border-radius: 50%;
    transition: transform .25s cubic-bezier(.75,.1,.25,.9);
    transform: translate(-50%, -50%) scale(0,0);
    background: @secondary;
  }

  .btn-text {
    position: relative;
    z-index: 3;
  }

  &:hover {
    color: @white;
    .btn-overlay {
      transform: translate(-50%, -50%) scale(1,1);
    }
  }
}

.h2-title__layer {
  width: 100%;
  text-align: center;
  padding-bottom: 30px;
}

.h2-title {
  .fSize(60vw, 60px * (768/1200), 60px, 768px, 1200px);
  font-weight: 700;
  font-family: 'Dancing Script', cursive;
  text-align: center;
  line-height: 1;
  color: @font-color;
}

.section__layout {
  .fPa(40%, 40%, 40px, 40px, 992px,  1200px);
}



////////Animations/////


@keyframes spin {
  from {
    transform: rotate(0deg);
  } to {
    transform: rotate(360deg);
  }
}


//|||||||||||||||||||COMMON ELEMENTS END|||||||||||||||||||//

//////////////////////////

//////////////////////////
@import url("app/less/_menu.less");
@import url("app/less/_header.less");
@import url("app/less/_carts.less");
@import url("app/less/_popup.less");

@import url("app/less/sprite.less");
