.articles
	.articles__layout.section__layout
		.floating-image-layer.floating-image-layer-4
			picture
				source(data-srcset="img/olive1.webp" type="image/webp")
				source(data-srcset="img/olive1.png" type="image/png")
				img.lazy(data-src="img/olive1.png" alt="Olive tree branch").floating-image
		.center.center__articles
			.f-container.f-container__articles
				.articles__desktop
					.articles__layer
						//для подгружаемых рядов (класс .articles__row) при клике на кнопку <<More>> добавить класс .fadeIn
						.articles__row
							.card
								a.card__inner(href="#")
									.card__image-layer
										picture
											source(data-srcset="img/about-bg2.webp" type="image/webp")
											source(data-srcset="img/about-bg2.png" type="image/png")
											img.lazy(data-src="img/about-bg2.png" alt="Card Product").card__image
									.card-text
										.card__title-layer
											h3.card__title
												|About our quilts
										.card__description-layer
											p.card__description
												|Our Handmade Wall Quilts are made by hand from top quality materials. This makes every item purchased a one-of a-kind inside your home.
							.card
								a.card__inner(href="#")
									.card__image-layer
										picture
											source(data-srcset="img/about-bg2.webp" type="image/webp")
											source(data-srcset="img/about-bg2.png" type="image/png")
											img.lazy(data-src="img/about-bg2.png" alt="Card Product").card__image
									.card-text
										.card__title-layer
											h3.card__title
												|About our quilts
										.card__description-layer
											p.card__description
												|Our Handmade Wall Quilts are made by hand from top quality materials. This makes every item purchased a one-of a-kind inside your home.
							.card
								a.card__inner(href="#")
									.card__image-layer
										picture
											source(data-srcset="img/about-bg2.webp" type="image/webp")
											source(data-srcset="img/about-bg2.png" type="image/png")
											img.lazy(data-src="img/about-bg2.png" alt="Card Product").card__image
									.card-text
										.card__title-layer
											h3.card__title
												|About our quilts
										.card__description-layer
											p.card__description
												|Our Handmade Wall Quilts are made by hand from top quality materials. This makes every item purchased a one-of a-kind inside your home.
						.articles__row
							.card
								a.card__inner(href="#")
									.card__image-layer
										picture
											source(data-srcset="img/about-bg2.webp" type="image/webp")
											source(data-srcset="img/about-bg2.png" type="image/png")
											img.lazy(data-src="img/about-bg2.png" alt="Card Product").card__image
									.card-text
										.card__title-layer
											h3.card__title
												|About our quilts
										.card__description-layer
											p.card__description
												|Our Handmade Wall Quilts are made by hand from top quality materials. This makes every item purchased a one-of a-kind inside your home.
							.card
								a.card__inner(href="#")
									.card__image-layer
										picture
											source(data-srcset="img/about-bg2.webp" type="image/webp")
											source(data-srcset="img/about-bg2.png" type="image/png")
											img.lazy(data-src="img/about-bg2.png" alt="Card Product").card__image
									.card-text
										.card__title-layer
											h3.card__title
												|About our quilts
										.card__description-layer
											p.card__description
												|Our Handmade Wall Quilts are made by hand from top quality materials. This makes every item purchased a one-of a-kind inside your home.
							.card
								a.card__inner(href="#")
									.card__image-layer
										picture
											source(data-srcset="img/about-bg2.webp" type="image/webp")
											source(data-srcset="img/about-bg2.png" type="image/png")
											img.lazy(data-src="img/about-bg2.png" alt="Card Product").card__image
									.card-text
										.card__title-layer
											h3.card__title
												|About our quilts
										.card__description-layer
											p.card__description
												|Our Handmade Wall Quilts are made by hand from top quality materials. This makes every item purchased a one-of a-kind inside your home.
					.articles__button-layer
						a.articles__button.main-btn(href="#")
							span.btn-overlay
							span.btn-text
								|More
				.articles__mobile
					.articles__layer
						//для подгружаемых рядов (класс .articles__row) при клике на кнопку <<More>> добавить класс .fadeIn
						.articles__row
							.card
								a.card__inner(href="#")
									.card__image-layer
										picture
											source(data-srcset="img/about-bg2.webp" type="image/webp")
											source(data-srcset="img/about-bg2.png" type="image/png")
											img.lazy(data-src="img/about-bg2.png" alt="Card Product").card__image
									.card-text
										.card__title-layer
											h3.card__title
												|About our quilts
										.card__description-layer
											p.card__description
												|"Follow me and I will make you fishers of men" (Matthew 4:19)
							.card
								a.card__inner(href="#")
									.card__image-layer
										picture
											source(data-srcset="img/about-bg2.webp" type="image/webp")
											source(data-srcset="img/about-bg2.png" type="image/png")
											img.lazy(data-src="img/about-bg2.png" alt="Card Product").card__image
									.card-text
										.card__title-layer
											h3.card__title
												|About our quilts
										.card__description-layer
											p.card__description
												|"Follow me and I will make you fishers of men" (Matthew 4:19)
						.articles__row
							.card
								a.card__inner(href="#")
									.card__image-layer
										picture
											source(data-srcset="img/about-bg2.webp" type="image/webp")
											source(data-srcset="img/about-bg2.png" type="image/png")
											img.lazy(data-src="img/about-bg2.png" alt="Card Product").card__image
									.card-text
										.card__title-layer
											h3.card__title
												|About our quilts
										.card__description-layer
											p.card__description
												|"Follow me and I will make you fishers of men" (Matthew 4:19)
					.articles__button-layer
						a.articles__button.main-btn(href="#")
							span.btn-overlay
							span.btn-text
								|More