.form-contactus
	.form-contactus__layout.section__layout
		.center
			.f-container
				.form-contactus__inner
					.h2-title__layer.h2-title__layer-form-contactus
						h2.h2-title.form-contactus__h2-title
							|Contact Us
					.form-contactus__fields
						form
							fieldset.form-contactus__fieldset
								legend.form-contactus__description
									|If you need any help, please contact us or send us a message.
									br
									|We will reply as soon as possible.
								.form-contactus__group
									.form-contactus__field
										input(type="text" placeholder="What is Your name?" required name="name")
									.form-contactus__field
										input(type="email" placeholder="What is Your email?" required name="email")
									.form-contactus__field
										textarea(rows="9" placeholder="What can We do for You?" required name="question")
									.form-contactus__field
										.form-contactus__button-layer
											button.form-contactus__button.main-btn
												span.btn-overlay
												span.btn-text
													|Send